black==23.3.0
dropblock==0.3.0
entropy-estimators==0.0.1
hydra-core==1.3.2
icecream==2.1.3
joblib==1.2.0
matplotlib==3.7.1
opencv-python==4.7.0.72
pacmap==0.7.0
pandas==1.5.3
pytorch-lightning==1.7.2
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
tensorboard==2.13.0
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.10.0rc0
torchvision==0.14.1
tqdm==4.65.0
